.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 30px;
    background-color: #29362c;
   
}

.app-logo{
    width:80px;
}
body{
    margin:0px;
}

.item-nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px;
}

.item-nav ul li{
    margin:10px;
    list-style-type: none;
    font-size:20px;
    color:white;
}

.card-container{
    width:300px;
    height:400px;
    padding:20px;
    margin:30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
    
}

.card-container:hover{
    border: 0.5px solid rgba(20, 18, 18, 0.24);
    
}

.card-container img{
    width:100%;
}

.restaurent-conatiner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.card-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.retaurant-name{
    font-size:22px;
    color:#611e3c;
    font-weight: bold;
}

.tags{
color:#324f20;
font-size: 16px;
}


.rating,.distance{
color:#b80635;
font-weight: bold;
}

.search-container{
    display:flex;
    align-items: center;
    width:70%;
    justify-content: center;
    margin:60px auto;
}

.search-container input{
    width:50%;
    margin:0px 25px;
}

.search-container input, .search-container button{
 border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
}

.search-container .search-btn{
    width:120px;
}

.search-btn:hover{
    cursor: pointer;
}

.logindiv button{ 
    padding: 5px 30px;
    font-size: 15px;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #860052;
    width:100px;
}

.logindiv button:hover{
    background-color: black;
    border: 2px solid #860052;
    color:white;
}

.second-div-shimmer,.third-div-shimmer{
    background-color:#e8e4e3;
    width:250px;
    height:30px;
    border:2px solid #e8e4e3;
    border-radius:5px;
    margin-top:30px;
}

.rest-img-shimmer{
    width:90%;
    height:150px;
    margin:0 auto;
    border:2px solid #e8e4e3;
}

.Shimmer-container{
   
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:160px;
}

.no-result-div{
    margin:20px auto;
    align-items: center;
    display: flex;
    justify-content: center;
    color:red;
}