.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 30px;
    background-color: #29362c;
   
}

.app-logo{
    width:80px;
}
body{
    margin:0px;
}

.item-nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px;
}

.item-nav ul li{
    margin:10px;
    list-style-type: none;
    font-size:20px;
    color:white;
}

.card-container{
    width:300px;
    height:400px;
    padding:20px;
    margin:30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
    
}

.card-container:hover{
    border: 0.5px solid rgba(20, 18, 18, 0.24);
    
}

.card-container img{
    width:100%;
}

.restaurent-conatiner{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

.card-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.retaurant-name{
    font-size:22px;
    color:#611e3c;
    font-weight: bold;
}

.tags{
color:#324f20;
font-size: 16px;
}


.rating,.distance{
color:#b80635;
font-weight: bold;
}